In [1]:

import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def collect_stock_data(security_name: str, start_period = "2021-01-01", end_period = "2022-01-01", interval = "1h"):
  return yf.Ticker(security_name).history(start=start_period, end=end_period, interval=interval)

In [4]:
msft = collect_stock_data(security_name="msft")
msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2020-12-31 12:30:00-05:00,219.914993,220.406494,219.800003,220.285004,0,0.0,0
2020-12-31 13:30:00-05:00,220.286896,220.600006,219.880005,220.559998,1402907,0.0,0
2020-12-31 14:30:00-05:00,220.559998,221.630005,220.529999,221.369995,1800116,0.0,0
2020-12-31 15:30:00-05:00,221.369995,223.000000,221.160095,222.449997,3623446,0.0,0
2021-01-04 09:30:00-05:00,222.804993,222.899994,219.320007,220.509995,5966926,0.0,0
...,...,...,...,...,...,...,...
2021-12-30 15:30:00-05:00,340.670013,340.910004,338.820007,339.320007,2645870,0.0,0
2021-12-31 09:30:00-05:00,338.510010,339.355011,336.140015,337.529999,3185762,0.0,0
2021-12-31 10:30:00-05:00,337.559998,337.730011,335.850006,336.649994,1871659,0.0,0
2021-12-31 11:30:00-05:00,336.630005,336.760010,335.869995,336.390015,1785344,0.0,0
2022-10-27 16:00:00-04:00,226.750000,226.750000,226.750000,226.750000,0,0.0,0

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://curator:PVYG2U2pZeBA3Aqp@localhost:5435/curatordb')
msft.to_sql('msft', engine, if_exists="replace")

In [8]:
msft = pd.read_sql_query('select * from msft',con=engine, index_col="index")
msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
index,,,,,,,
2020-12-31 17:30:00+00:00,219.914993,220.406494,219.800003,220.285004,0,0.0,0
2020-12-31 18:30:00+00:00,220.286896,220.600006,219.880005,220.559998,1402907,0.0,0
2020-12-31 19:30:00+00:00,220.559998,221.630005,220.529999,221.369995,1800116,0.0,0
2020-12-31 20:30:00+00:00,221.369995,223.000000,221.160095,222.449997,3623446,0.0,0
2021-01-04 14:30:00+00:00,222.804993,222.899994,219.320007,220.509995,5966926,0.0,0
...,...,...,...,...,...,...,...
2021-12-30 20:30:00+00:00,340.670013,340.910004,338.820007,339.320007,2645870,0.0,0
2021-12-31 14:30:00+00:00,338.510010,339.355011,336.140015,337.529999,3185762,0.0,0
2021-12-31 15:30:00+00:00,337.559998,337.730011,335.850006,336.649994,1871659,0.0,0
2021-12-31 16:30:00+00:00,336.630005,336.760010,335.869995,336.390015,1785344,0.0,0
2022-10-27 20:00:00+00:00,226.750000,226.750000,226.750000,226.750000,0,0.0,0