In [17]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

### Function for collectring single asset and its sector

In [2]:
def collect_stock_data(security_name: str, start_period = "2021-01-01", end_period = "2022-01-01", interval = "1h"):
    asset = yf.Ticker(security_name)
    return asset.history(start=start_period, end=end_period, interval=interval), asset.info['sector']

In [3]:
msft_1h = collect_stock_data(security_name="msft")
msft_1h[1]

'Technology'

### Saving data to DB and retrieving it from BD

In [5]:
engine = create_engine('postgresql://curator:PVYG2U2pZeBA3Aqp@localhost:5435/curatordb')

In [8]:
msft_1h[0].to_sql('msft_1h', engine, if_exists="replace")

In [9]:
msft = pd.read_sql_query('select * from msft_1h',con=engine, index_col="index")
msft

,Open,High,Low,Close,Volume,Dividends,Stock Splits
index,,,,,,,
2020-12-31 17:30:00+00:00,219.914993,220.406494,219.800003,220.285004,0,0.0,0
2020-12-31 18:30:00+00:00,220.286896,220.600006,219.880005,220.559998,1402907,0.0,0
2020-12-31 19:30:00+00:00,220.559998,221.630005,220.529999,221.369995,1800116,0.0,0
2020-12-31 20:30:00+00:00,221.369995,223.000000,221.160095,222.449997,3623446,0.0,0
2021-01-04 14:30:00+00:00,222.804993,222.899994,219.320007,220.509995,5966926,0.0,0
...,...,...,...,...,...,...,...
2021-12-30 20:30:00+00:00,340.670013,340.910004,338.820007,339.320007,2645870,0.0,0
2021-12-31 14:30:00+00:00,338.510010,339.355011,336.140015,337.529999,3185762,0.0,0
2021-12-31 15:30:00+00:00,337.559998,337.730011,335.850006,336.649994,1871659,0.0,0
2021-12-31 16:30:00+00:00,336.630005,336.760010,335.869995,336.390015,1785344,0.0,0
2022-11-23 21:00:00+00:00,247.580002,247.580002,247.580002,247.580002,0,0.0,0

### Collecting entire sector data

#### 1h data

In [18]:
assets = ["GOOGL", "AAPL", "AMZN", "TSLA", "XOM", "V", "JPM",
          "NVDA", "TSM", "MA", "HD", "BAC", "KO"]

start_period = "2021-01-01"
end_period = "2022-01-01"
interval = "1h"

def collect_save_data(assets, interval, start_period, end_period):
    collected_data = [collect_stock_data(security_name=asset, start_period=start_period, end_period=end_period, interval=interval) for asset in assets]
    [data[0].to_sql(str(name.lower() + "_" + interval), engine, if_exists="replace") for name, data in zip(assets, collected_data)]

In [19]:
collect_save_data(assets, interval, start_period, end_period)

### Collecting top 100 worst and best performers NASDAQ stocks

In [23]:
screen = pd.read_csv(r"C:\Users\1\Downloads\nasdaq_screener.csv")
worst_20 = screen.sort_values(by=['Net Change']).head(20)["Symbol"].to_numpy()
best_20 = screen.sort_values(by=['Net Change']).tail(20)["Symbol"].to_numpy()

In [30]:
worst_20 = np.delete(worst_20, 17)
worst_20

array(['TPL', 'SEB', 'REGN', 'WTM', 'AZO', 'ADSK', 'DHIL', 'KNSL', 'LPLA',
       'VRTX', 'ATRI', 'ENPH', 'MTN', 'WINA', 'RBC', 'UTHR', 'MUSA',
       'AMGN'], dtype=object)

In [36]:
best_20 = np.delete(best_20, 8)
best_20

array(['ROG', 'DECK', 'TFX', 'NOW', 'MSTR', 'ZBRA', 'TDG', 'MRTX', 'CELH',
       'SWAV', 'COUP', 'TSLA', 'DPZ', 'EQIX', 'HUBS', 'DE', 'BKNG',
       'BRK/A', 'NVR'], dtype=object)

In [31]:
interval = "1h"

collect_save_data(worst_20, interval, start_period, end_period)

In [38]:
interval = "1d"

collect_save_data(worst_20, interval, start_period, end_period)

In [ ]:
interval = "1d"

collect_save_data(best_20, interval, start_period, end_period)